{% extends 'template.html' %}
{% block body %}
    <table class="col s12 m12 l12">
        <thead>
          <tr>
              <th data-field="id">Blog</th>
              <th data-field="name">Propietario</th>
              <th data-field="name">Nº de artículos</th>
          </tr>
        </thead>

        <tbody>
          {% for blog in blogs_list %}
            <tr>
                <td><a href="{% url 'blog_detail' blog.username %}">{{ blog.username | title }}</a></td>
                <td>{{ blog.first_name }} {{ blog.last_name }} </td>
                <td>{{ blog.articles.count }} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}